* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
header {
  background: #0f2027;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo i{
  color: #ff8a00;
  font-size: 28px;
  margin-right: 8px;
}
.logo h3 {
  color: white;
  font-size: 24px;
}

.logo span {
  color: #ff8a00;
}

.menu {
  display: flex;
  gap: 25px;
  list-style: none;
}

.menu li a {
  color: white;
  font-weight: 500;
}

.login-btn {
  background: #ff8a00;
  padding: 8px 18px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
}

/* HERO */
.hero {
  padding: 80px 20px;
}

.hero-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.hero-text h1 {
  font-size: 42px;
  color: white;
}

.hero-text span {
  color: #ff8a00;
}

.hero-text p {
  margin: 20px 0;
  color: #e5e7eb;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.hero-image img {
  width: 100%;
  max-width: 440px;
}

/* BUTTONS */
.btn {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.primary {
  background: #ff8a00;
  color: white;
}

.outline {
  background: transparent;
  border: 2px solid #ff8a00;
  color: #ff8a00;
}

/* BRANDS */
.section {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.brand-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: white;
}

/* Grid container */
.brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

/* Brand card */
.brand {
  background: #ffffff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Images */
.brand img {
  width: 100%;
  height: auto;
  padding: 15px;
  border-radius: 14px;
  object-fit: contain;
}

/* Hover effect (desktop only) */
@media (hover: hover) {
  .brand:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  }
}



/* Mobile adjustments */
@media (max-width: 480px) {
  .brand {
    padding: 15px;
  }

  .brand img {
    max-width: 90px;
  }
}

/* OFFER */
.offer {
  background: #eef2ff;
  padding: 70px 20px;
  text-align: center;
  
}

.offer h2 {
  font-size: 32px;
}

.offer button {
  margin-top: 10px;
}

/* FOOTER */
footer {
  background: #0f172a;
  color: #cbd5e1;
  text-align: center;
  padding: 30px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .menu {
    display: none;
  }
}